body {
    background: url('https://source.unsplash.com/2uwFEAGUm6E');
    background-size: cover;
    background-position: 30% 15%;
}

/* Form */
#searchform{
    padding: 3px;
    margin: 180px auto;
    border-radius: 6px;
    background-color: #fff;
    width: 450px ;
}

input{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: none;
    box-shadow: none;
    height: 30px;
    width: 85%;
    padding-left: 10px;
}

button {
    float: right;
    margin: 2px 0 0 0;
    padding: 0 8px 0 10px;
    background: none;
    color: #666666;
    box-shadow: none;
    border: none;
    border-left: solid 1px #ccc;
}

button > .fa.fa-search {
    font-size: 23px;
}